@import url("https://fonts.googleapis.com/css2?family=Alice&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    93deg,
    rgba(255, 255, 255, 0.21) 35.02%,
    rgba(249, 253, 250, 0.2) 36.38%,
    rgba(223, 244, 230, 0.18) 41.97%,
    rgba(15, 170, 70, 0) 87.43%
  );
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 180px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: text-decoration 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}

nav li a:hover {
  color: #ff5c11 !important;
  text-decoration: underline;
}

.btn {
  display: flex;
  align-items: center;
  padding: 12px 21px;
}

.btn_register {
  display: flex;
  align-items: center;
  padding: 12px 21px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background: #ff5344;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.btn_sec {
  display: flex;
  align-items: center;
  padding: 23px 40px;
  border: 0;
  outline: 0;
  border-radius: 0px 6px 6px 0px;
  background: #ff5344;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

.btn img {
  width: 20px;
  margin-right: 10px;
}

.content {
  margin-top: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  /* max-width: 620px; */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: white; */
}

.content_span {
  color: #f88424;
  font-family: Alice;
}

.content_para {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content_alice {
  color: #000;
  font-family: Alice;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
}

.content h1 {
  color: #000000;
  font-family: Alice;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content form {
  display: flex;
  align-items: center;
  /* background: #ffffff; */
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
}

input[type="text"] {
  border: 1px solid rgb(228, 228, 228) !important;
  padding: 20px;
  border-radius: 12px 0px 0px 12px;
}

.content form input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  /* border-color: 1px solid red; */
}

.content form .btn {
  font-size: 15px;
  padding: 10px 30px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
